 @import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


 body {
    margin: 0;
    background-color: #171717;
    font-family: 'Sono', sans-serif;
}

main {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #444444;
     box-shadow: 5px 10px #B2B2B2;
    border-radius: 10px;
   max-width: 720px;
    margin: 0 auto;
    margin-top: 20px; 
}


a {
    text-decoration: none;
    color: rgb(54, 155, 61);
}




/* fonts */

.font-jetBrains-mono {
    font-family: 'JetBrains Mono', monospace;
}

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}



h1:first-child {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    border-bottom: 2px solid rgb(178, 170, 170);
    padding-bottom: 5px;
    color: rgb(178, 170, 170);
    margin-bottom: 60px;
}

/* TAGS */
h1:not(:first-child) {
    font-size: 200%;
    font-weight: lighter;
    text-transform: capitalize;
    padding-bottom: 5px;
    
    color: rgb(178, 170, 170);
    
}


/* typo */



p {
    font-family: 'JetBrains Mono', monospace;
    padding-left: 10px;
    color: beige;
}




div {
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

